<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headFragment">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8">
    <title>SKELETON WEB</title>
    <link href="https://t1.kakaocdn.net/gamepub/icon/kakao_favicon.png" rel="shortcut icon" type="image/x-icon"/>

    <link rel="stylesheet" type="text/css" th:href="@{/res/css/skeleton-web.css}"/>
</th:block>